<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><%=heading%></h1>
    <ul>
      <% categories.forEach((category, index) => { %>
      <li>
        <%= category.name%>
        <a href="/<%=category.name%>/<%=category.id%>"
          >View Items In <%=category.name%> Category</a
        >
        <a href="/update-category/<%=category.name%>/<%=category.id%>"
          >Update <%=category.name%></a
        >
        <form
          action="/delete-category/<%=category.name%>/<%=category.id%>"
          method="post"
          style="display: inline"
        >
          <button type="submit">Delete <%=category.name%></button>
        </form>
      </li>

      <%})%>
    </ul>
    <a href="/add-new-category">Add New Category</a>
  </body>
</html>
