<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><%=title%></h1>

    <ul>
      <% categoriesDb.filter((specific) => {return specific.category_id ==
      index}).forEach((category, indexNumber) => { %>
      <li>
        <%=category.item_name%>
        <a
          href="/<%=category.category_id%>/<%=category.item_name%>/<%=indexNumber%>"
          >View <%=category.item_name%></a
        >
        <a
          href="/update-item/<%=category.category_id%>/<%=category.item_name%>/<%=indexNumber%>/<%=category.item_id%>"
          >Update <%=category.item_name%></a
        >
        <form
          action="/delete-item/<%=category.category_id%>/<%=category.item_name%>/<%=indexNumber%>/<%=category.item_id%>"
          method="post"
          style="display: inline"
        >
          <button type="submit">Delete <%=category.item_name%></button>
        </form>
      </li>
      <%})%>
    </ul>
    <a href="/add-items/items/add-item/<%=index%>">Add An Item</a>
    <a href="/">Back To Categories</a>
  </body>
</html>
